.first-form {
    background: #353535;
    padding: 15px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /*width: 25%;*/
}
.first-form input {
    border: none;
    border-bottom: 1px solid #656565;
    background: inherit;
    height: 35px;
    outline: none;
}

/* TODO: Fallo in relazione alla classe sup.*/
.transaction-dropdown {
    border: none;
    background: inherit;
}
.transaction-dropdown option{
    border: none;
    background-color: #353535;
}

.radio-group>input[type=radio] { /*Nascondo i pallini*/
    position: absolute;
    visibility: hidden;
    display: none;
}
.radio-group>label {
    width: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}
.radio-group> input[type=radio]:checked + label[for="option-one"]{
    color: white;
    background: #888;
    border-radius: 0.75rem 0 0 0.75rem;
}
.radio-group> input[type=radio]:checked + label[for="option-two"]{
    color: white;
    background: #888;
    border-radius: 0 0.75rem 0.75rem 0;
}
.radio-group> label + input[type=radio] + label {
    border-left: solid 3px #888;
}
.radio-group {
    border: solid 3px #888;
    border-radius: 1rem;
}

.aliquota-input {
    border: none;
    /*border-bottom: 1px solid #656565;*/
    background: inherit;
    text-align: right;

}
.aliquota-input:focus{
    /*border: 1px solid white;*/
    outline: none;
}

.card{
    background: #353535;
    padding: 15px;
    border-radius: 1rem;
    margin: 10px 0;
    border: none;
}
.dateInput {
    border: none;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    /*width: 150px;*/
}
.dateInput::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.dateInput::-webkit-date-and-time-value {
    filter: invert(1);
}
.recursiveInput {
    width: 50%;
    color: black;
    background: white;

    border: none;
    border-radius: 10px;

    /*margin: 0 10px;*/
    padding: 5px
}
.recursiveInput::-webkit-inner-spin-button,
.recursiveInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#recursiveMenu {
    /*d-flex justify-content-around mt-2*/
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}

#categoryList {
    padding: 12.5rem 0 10px 0;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-radius: 0 0 1rem 1rem;
    height: 10rem;
}
.categoryItem{
    background: #353535;
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
}