#group {
    position: fixed;
    bottom: 2.5vh;
    width: 230px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bybytelab {
    width: 155px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 16px;
    letter-spacing: 1.7px;
    white-space: nowrap;
    color: #898989;
}

#innergroup {
    width: 60px;
    height: 60px;
}
.header {
    text-align: center; margin: 7vh 1rem 0 1rem; line-height: 3rem
}
.header > p {
    font-size: 30px
}
.continue {
    background: var(--foreground); width: 90%; color: var(--background);
    font-size: 2rem; border-radius: 2rem; display: flex; align-items: center; justify-content: center;
    font-weight: 700; position: fixed; bottom: 20vh;
}